body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

input {
    width: 250px;
    margin: 5px auto;
    border: 2px rgba(255, 174, 0, 1);
    border-style: solid;
    border-radius: 8px;
}

a:hover {
    color: darkgoldenrod;
}